{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'globals.css' %}" />
    <link rel="stylesheet" href="{% static 'styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="frame">
      <div class="view-project">
        <footer class="footer">
          <img class="image" src="{% static 'image-4.png' %}" />
          <div class="overlap-group">
            <div class="text-wrapper">2024 Online Marketplace</div>
            <img class="img" src="{% static 'image-8-1.png' %}" />
            <img class="image-2" src="{% static 'image-9-1.png' %}" />
            <img class="image-3" src="{% static 'image-11-1.png' %}" />
            <img class="image-4" src="{% static 'image-12-1.png' %}" />
          </div>
          <div class="div">©</div>
          <div class="overlap">
            <div class="text-wrapper-2">Terms</div>
            <div class="text-wrapper-3">Privacy</div>
            <div class="text-wrapper-4">Cookies</div>
            <div class="group">
              <div class="text-wrapper-5">Support</div>
              <div class="text-wrapper-6">About</div>
              <div class="text-wrapper-7">Features</div>
              <div class="text-wrapper-8">Jobs</div>
              <div class="text-wrapper-9">Places</div>
              <div class="text-wrapper-10">Resources</div>
            </div>
          </div>
        </footer>
        <div class="torso">
          <div class="owner">
            <img class="ellipse" src="{% static 'ellipse-274.png' %}" />
            <div class="text-wrapper-11">Universidad ICESI</div>
          </div>
          <div class="comment-list">
            <div class="overlap-2">
              <div class="comment">
                <img class="ellipse-2" src="{% static 'ellipse-257.png' %}" />
                <div class="overlap-group-2">
                  <div class="user">Mark</div>
                  <div class="element-moths-ago">1.2 Moths ago</div>
                </div>
                <div class="comment-text">Such an interesting project!</div>
              </div>
              <img class="line" src="{% static 'line-10.svg' %}" />
            </div>
            <div class="comment-2">
              <img class="ellipse-2" src="{% static 'ellipse-257-1.png' %}" />
              <div class="overlap-group-2">
                <div class="user">Rebeka</div>
                <div class="element-moths-ago">9 Moths ago</div>
              </div>
              <p class="comment-text">It was really nice working with this community!</p>
            </div>
          </div>
          <div class="make-comment">
            <div class="overlap-3">
              <div class="text-wrapper-12">Write your comment</div>
              <div class="rectangle"></div>
            </div>
            <div class="component"><div class="save-changes">Publish</div></div>
            <img class="bold" src="{% static 'bold.svg' %}" />
            <img class="italic" src="{% static 'italic-1.svg' %}" />
            <img class="underline" src="{% static 'underline-1.svg' %}" />
          </div>
          <p class="requirements">
            <div class="requirement">
              <div class="type">
                <div class="div-wrapper"><div class="text-wrapper-13">musicologist</div></div>
              </div>
              <div class="overlap-wrapper">
                <div class="overlap-4"><div class="text-wrapper-14">Ethnomusicologist</div></div>
              </div>
              <p class="p">
                Transcribe musical elements such as rhythms, melodies, and instruments from the collected sounds for further
                analysis and integration into modern compositions.
              </p>
              <div class="status">
                <div class="text-wrapper-15">Taken</div>
                <img class="img-2" src="{% static 'uncheck-1.svg' %}" />
              </div>
              <div class="title">Transcription and Analysis</div>
              <div class="number">
                <div class="overlap-5"><div class="text-wrapper-16">3</div></div>
              </div>
            </div>
            <div class="requirement-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-3"><div class="text-wrapper-18">Audio technician</div></div>
              </div>
              <div class="type-2">
                <div class="sound-engineer-wrapper"><div class="sound-engineer">Sound engineer</div></div>
              </div>
              <p class="p">
                Travel to selected regions to record traditional sounds, instruments, and local musicians. Properly catalog
                the sounds and maintain high-quality audio recordings.
              </p>
              <div class="status">
                <div class="text-wrapper-15">Taken</div>
                <img class="img-2" src="{% static 'uncheck-1.svg' %}" />
              </div>
              <div class="title-2">Sound Collection and Documentation</div>
              <div class="number">
                <div class="overlap-5"><div class="text-wrapper-16">2</div></div>
              </div>
            </div>
            <div class="requirement-3">
              <div class="type-3">
                <div class="overlap-group-4"><div class="text-wrapper-19">Ethnographer</div></div>
              </div>
              <div class="type-4">
                <div class="overlap-6"><div class="text-wrapper-20">Cultural anthropologist</div></div>
              </div>
              <p class="p">
                Organize and plan visits to different Colombian regions to collect traditional sounds and musical elements.
                This includes identifying communities, securing permissions, and arranging logistics for interviews and
                sound recordings.
              </p>
              <div class="status">
                <div class="text-wrapper-21">Available</div>
                <img class="img-2" src="{% static 'check.svg' %}" />
              </div>
              <div class="title-3">Ethnographic Fieldwork Planning</div>
              <div class="number">
                <div class="overlap-5"><div class="text-wrapper-16">1</div></div>
              </div>
            </div>
          </p>
          <div class="text-wrapper-17">Comments</div>
          <div class="text-wrapper-22">Requirements</div>
          <p class="date">Creation date: november 24th, 2024</p>
          <div class="grade-label">
            <img class="grade" src="{% static 'grade-1.svg' %}" />
            <div class="text-wrapper-23">5.0</div>
          </div>
          <p class="the-sonic-landscapes">
            The &#34;Sonic Landscapes&#34; project aims to explore and document the rich cultural diversity of Colombia
            through music. By combining ethnographic research with modern music production techniques, the project seeks
            to create a series of original compositions that reflect the unique soundscapes of various Colombian regions.
            Students will engage in fieldwork, collecting traditional sounds and musical elements from different
            communities, and then use this material to produce contemporary music that honors and celebrates
            Colombia&#39;s cultural heritage.
          </p>
          <div class="text-wrapper-24">Sonic Landscapes</div>
          <img class="picture" src="{% static 'picture.png' %}" />
          <div class="action-div">
            <div class="save-button"><div class="save-button-2"></div></div>
            <div class="like-button">
              <div class="overlap-7">
                <img class="favorite" src="{% static 'favorite.svg' %}" />
                <div class="text-wrapper-25">54</div>
              </div>
            </div>
            <button class="apply-button"><div class="save-changes-2">Apply</div></button>
          </div>  
        </div>  
        <div class="heading">
          <div class = "user-elements">
            <img class="profile-picture" src="{% static 'profile-picture.png' %}" />
            <img class="chat-icon" src="{% static 'chat-icon-1.svg' %}" />
            <img class="notification-icon" src="{% static 'notification-icon-1.svg' %}" />
          </div>  
          <div class="text-wrapper-26">Home</div>
          <div class="logo-name">
            <div class="line-wrapper"><img class="line-2" src="{% static 'line-1.svg' %}" /></div>
            <div class="online-marketplace">Online<br />Marketplace</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>