{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/EditProject.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Edit Project</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{% static 'images/Logo.png' %}" alt="Logo"/>
            <div class="lineNav"></div>
            <div class="navText">
                <span>Online</span>
                <span>Marketplace</span>
            </div>
        </div>
        <div class="navBar">
            <ul>
                <li><img src="{% static 'images/Chat_Icon.png' %}" alt=""></li>
                <li><img src="{% static 'images/Notification_Icon.png' %}" alt=""></li>
                <li><img src="{% static 'images/Ellipse 252.png' %}" alt=""></li>
            </ul>
        </div>
    </nav>
    <div id ="torso" class="content" data-project-id = "{{project.id}}" data-manager-id = "{{project.manager.id}}">
        <h2>Edit Project</h2>
        <div class="basicInformation">
            <span>Basic information</span>
            <form class="formInformation">
                <div class="leftSide">
                    <div class="inputContainer">
                        <span>Name</span>
                        <input type="text" name="name" id="name" value="{{project.name}}">
                    </div>
                    <div class="inputContainer">
                        <span>Description</span>
                        <textarea rows="4" cols="50" placeholder="Escribe aquí..." name="description" id="description">{{project.description}}</textarea>
                    </div>
                    <div class="inputContainer">
                        <span>Budget</span>
                        <select name="currency" id="currency">
                            <option value="COP">COP</option>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                        </select>
                        <input type="number" name="budget" id="budget" placeholder="Amount" value="{{project.budget}}">
                    </div>
                </div>
                <div class="rightSide">
                    <div class="profile-upload">
                        <label for="file-input" class="profile-circle">Project Picture:</label>
                        <input type="file" id="file-input" name="file-input" accept="image/*" style="display: none;">
                        {% if project.project_picture %}
                            <img id="profile-img" class="profile-img" src="{{ project.project_picture.url }}" alt="Project Image"  onclick="document.getElementById('file-input').click();" >
                        {% else %}
                            <img id="profile-img" class="profile-img" src="{% static 'images/Vector (2).png' %}" alt="Default Image"  onclick="document.getElementById('file-input').click();">
                        {% endif %}
                        <button type="button" class="buttonSubmit" id="update">Update</button>
                    </div>
                </div>
            </form>
            <!-- <div class="milestones-section">
                <h2 class="ptext">Milestones</h2>
                <button class="btn add-milestone">+ Add Milestone</button>
                <div class="milestones-container">
                    {% for milestone in milestones %}
                    <div class="milestone">
                        <div class="milestone-header" onclick="toggleTasks(this)">
                            <div class="ptext milestone-name">{{ milestone.name }}</div>
                            <div class="ptext milestone-progress">{{ milestone.progress }}%</div>
                            <div class="ptext milestone-deadline">{{ milestone.deadline }}</div>
                            <button class="btn assignment">Assignments</button>
                        </div>
                        <div class="tasks-list" style="display: none;">
                            {% for task in milestone.tasks.all %}
                            <div class="task">
                                <div class="circle">
                                    {% if task.completed %}
                                    <img class="check" src="path_to_check_icon" alt="Completed">
                                    {% endif %}
                                </div>
                                <div class="ptext task-name">{{ task.name }}</div>
                            </div>
                            {% endfor %}
                            <div class="task-add">Add task</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button id="submit" type="submit" class="buttonSubmit">Save chances</button>
            </div> -->
            
            <div id ="milestone-list" class="milestone-list">
                {% for milestone in milestones %}
                <div class="add-milestone-section" data-milestone-id="{{milestone.id}}">
                    <h2 class="ptext">Edit Milestone</h2>
                    <form id="milestone-form" class="milestone-form">
                        <label class="ptext" for="milestone-name">Milestone Name</label>
                        <input class="milestone-name" type="text" id="milestone-name" name="milestone-name" placeholder="Milestone name" value="{{ milestone.name }}" required />
                
                        <label class="ptext" for="freelancer-name">Description</label>
                        <input class="milestone-description" type="text" id="description" name="freelancer-name" placeholder="Description" value="{{ milestone.description }}" required />
                
                        <label class="ptext" for="milestone-deadline">Deadline</label>
                        <input class="milestone-deadline" type="date" id="milestone-deadline" name="milestone-deadline" value="{{ milestone.end_date|date:'Y-m-d' }}"  required />
                
                        <h3 class="ptext">Tasks</h3>
                        <div id="task-list" class="task-list">
                            {% for task in milestone.tasks.all %}
                            <div class="task-item" data-task-id="{{task.id}}">
                                <span>{{ task.name }}</span>
                                <button type="button" class="btn remove-task" onclick="removeTask(this)">Remove Task</button>
                            </div>
                            {% endfor %}
                        </div>
                        <input type="text" id="task-name" placeholder="Add task" />
                        <button type="button" class="btn add-task" onclick="addTask(this)">Add Task</button>

                        <button type="button" class="btn remove-milestone" onclick="removeMilestone(this)">Remove Milestone</button>
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="gray-div">
                <button type="button" class="btn save-milestone" onclick="addMilestone()">Add Milestone</button>
                <button id="submit" class="btn save-milestone">Save Project</button>
            </div>
        </div>
    </div>
    <footer>
        <img src="{% static 'images/image 4.png' %}">
        <div class="menuFooter">
            <ul>
                <li><a href="">Features</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Places</a></li>
                <li><a href="">Jobs</a></li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <li><img src="{% static 'images/image 8.png' %}" alt=""></li>
                <li><img src="{% static 'images/image 9.png' %}" alt=""></li>
                <li><img src="{% static 'images/image 11.png' %}" alt=""></li>
                <li><img src="{% static 'images/image 12.png' %}" alt=""></li>
            </ul>
        </div>
    </footer>
</body>
<!-- <script>
    function toggleTasks(element) {
        const tasksList = element.nextElementSibling;
        tasksList.style.display = tasksList.style.display === "none" ? "block" : "none";
    }        
</script> -->
<script>
    const deletedMilestones = [];
    const deletedTasks = [];

        function addTask(button) {
            const thisMilestone = button.parentElement;
            const taskName = thisMilestone.querySelector("#task-name").value;
            if (taskName === "") return;
        
            const taskList = thisMilestone.querySelector("#task-list");
            const taskItem = document.createElement("div");
            taskItem.classList.add("task-item");
            taskItem.innerHTML = `
                <span>${taskName}</span>
                <button class="remove-button" onclick="removeTask(this)">Remove</button>
            `;
            taskList.appendChild(taskItem);
            thisMilestone.querySelector("#task-name").value = "";
        }
        
        function removeTask(button) {
            const taskElement = button.closest('.task-item');
            const taskId = taskElement.dataset.taskId;

            if (taskId) {
                deletedTasks.push(taskId);  // Track the task ID for deletion
            }
            button.parentElement.remove();
        }

        function removeMilestone(button) {
            const milestoneElement = button.closest('.add-milestone-section');
            const milestoneId = milestoneElement.dataset.milestoneId;
    
            if (milestoneId) {
                deletedMilestones.push(milestoneId);  // Track the milestone ID for deletion
            }
            button.parentElement.parentElement.remove();
        }

        function addMilestone() {
            const milestoneList = document.getElementById("milestone-list");;
            const addMilestoneSection = document.createElement("div");
            addMilestoneSection.classList.add("add-milestone-section");
            addMilestoneSection.innerHTML = `
                <h2 class="ptext">Add Milestone</h2>
                <form id="milestone-form" class="milestone-form">
                    <label class="ptext" for="milestone-name">Milestone Name</label>
                    <input class="milestone-name" type="text" id="milestone-name" name="milestone-name" placeholder="Milestone name" required />
            
                    <label class="ptext" for="freelancer-name">Description</label>
                    <input class="milestone-description" type="text" id="description" name="freelancer-name" placeholder="Description" required />

                    <label class="ptext" for="milestone-deadline">Deadline</label>
                    <input class="milestone-deadline" type="date" id="milestone-deadline" name="milestone-deadline" required />
            
                    <h3 class="ptext">Tasks</h3>
                    <div id="task-list" class="task-list"></div>
                    <input type="text" id="task-name" placeholder="Add task" />
                    <button type="button" class="btn add-task" onclick="addTask(this)">Add Task</button>
            
                    <button type="button" class="btn remove-milestone" onclick="removeMilestone(this)">Remove Milestone</button>
                </form>
            `;
            milestoneList.appendChild(addMilestoneSection);
        }


    document.getElementById('submit').addEventListener('click', function() {
      const projectId = document.getElementById('torso').dataset.projectId;

      const formData = new FormData();
        formData.append('manager', document.getElementById('torso').dataset.managerId);
        formData.append('name', document.getElementById('name').value);
        formData.append('description', document.getElementById('description').value);
        formData.append('budget', document.getElementById('budget').value);
        formData.append('project_picture', document.getElementById('file-input').files[0]);
        formData.append('type', 'General');
        formData.append('duration', 'Not Specified');
        formData.append('state', 'PENDING');
        
        const milestones = [];
        document.querySelectorAll('.milestone-form').forEach(milestone => {
            const milestoneData = {
                id: milestone.closest('.add-milestone-section').dataset.milestoneId || null,
                name: milestone.querySelector('.milestone-name').value,
                description: milestone.querySelector('.milestone-description').value,
                deadline: milestone.querySelector('.milestone-deadline').value,
                tasks: []
            };

            milestone.querySelectorAll('.task-item').forEach(task => {
                milestoneData.tasks.push({
                    id: task.dataset.taskId || null,
                    name: task.querySelector('span').textContent,
                    });
                });
                milestones.push(milestoneData);
            });

        formData.append('milestones', JSON.stringify(milestones));
        formData.append('deletedMilestones', JSON.stringify(deletedMilestones));
        formData.append('deletedTasks', JSON.stringify(deletedTasks));

      const url = `/accounts/post_project_edition/${projectId}/`;

      fetch(url, {
        method: 'POST',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for security
        },
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          alert(data.message);
          // Optionally, refresh comments here or append the new comment to the list
        } else {
          alert(data.message);
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });


    document.getElementById('file-input').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('profile-img').src = e.target.result;
                }
                reader.readAsDataURL(file);
            }
        });

    document.getElementById('update').addEventListener('click', function() {
        document.getElementById('file-input').click();
    });


    </script>
</html>
