{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/EditProject.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Edit Project</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{% static 'images/Logo.png' %}" alt="Logo"/>
            <div class="lineNav"></div>
            <div class="navText">
                <span>Online</span>
                <span>Marketplace</span>
            </div>
        </div>
        <div class="navBar">
            <ul>
                <li><img src="{% static 'images/Chat_Icon.png' %}" alt=""></li>
                <li><img src="{% static 'images/Notification_Icon.png' %}" alt=""></li>
                <li><img src="{% static 'images/Ellipse 252.png' %}" alt=""></li>
            </ul>
        </div>
    </nav>
    <div id ="torso" class="content" data-project-id = "{{project.id}}">
        <h2>Edit Project</h2>
        <div class="basicInformation">
            <span>Basic information</span>
            <form class="formInformation">
                <div class="leftSide">
                    <div class="inputContainer">
                        <span>Name</span>
                        <input type="text" name="name" id="name" value="{{project.name}}">
                    </div>
                    <div class="inputContainer">
                        <span>Description</span>
                        <textarea rows="4" cols="50" placeholder="Escribe aquí..." name="description" id="description">{{project.description}}</textarea>
                    </div>
                    <div class="inputContainer">
                        <span>Budget</span>
                        <select name="currency" id="currency">
                            <option value="COP">COP</option>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                        </select>
                        <input type="number" name="budget" id="budget" placeholder="Amount" value="{{project.budget}}">
                    </div>
                </div>
                <div class="rightSide">
                    <div class="profile-upload">
                        <input type="file" id="file-input" accept="image/*" />
                        <label for="file-input" class="profile-circle">
                        {% if project.project_picture %}
                            <img id="profile-img" class="profile-img" src="{{ project.project_picture.url }}" alt="Project Image" />
                        {% else %}
                            <img id="profile-img" class="profile-img" src="{% static 'images/Vector (2).png' %}" alt="Default Image" />
                        {% endif %}
                        </label>
                        <button id="update" type="submit" class="buttonSubmit">Update</button>
                    </div>
                </div>
            </form>
            <div class="milestones-section">
                <h2 class="ptext">Milestones</h2>
                <button class="btn add-milestone">+ Add Milestone</button>
                <div class="milestones-container">
                    {% for milestone in milestones %}
                    <div class="milestone">
                        <div class="milestone-header" onclick="toggleTasks(this)">
                            <div class="ptext milestone-name">{{ milestone.name }}</div>
                            <img class="freelancer-picture" src="{{ milestone.freelancer_picture }}" alt="Freelancer Picture"/>
                            <div class="ptext freelancer-name">{{ milestone.freelancer_name }}</div>
                            <div class="ptext milestone-progress">{{ milestone.progress }}%</div>
                            <div class="ptext milestone-deadline">{{ milestone.deadline }}</div>
                            <button class="btn assignment">Assignments</button>
                        </div>
                        <div class="tasks-list" style="display: none;">
                            {% for task in milestone.tasks %}
                            <div class="task">
                                <div class="circle">
                                    {% if task.completed %}
                                    <img class="check" src="path_to_check_icon" alt="Completed">
                                    {% endif %}
                                </div>
                                <div class="ptext task-name">{{ task.name }}</div>
                            </div>
                            {% endfor %}
                            <div class="task-add">Add task</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button id="submit" type="submit" class="buttonSubmit">Save chances</button>
            </div>
        </div>
    </div>
    <footer>
        <img src="{% static 'images/image 4.png' %}">
        <div class="menuFooter">
            <ul>
                <li><a href="">Features</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Places</a></li>
                <li><a href="">Jobs</a></li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <li><img src="{% static 'images/image 8.png' %}" alt=""></li>
                <li><img src="{% static 'images/image 9.png' %}" alt=""></li>
                <li><img src="{% static 'images/image 11.png' %}" alt=""></li>
                <li><img src="{% static 'images/image 12.png' %}" alt=""></li>
            </ul>
        </div>
    </footer>
</body>
<script>
    function toggleTasks(element) {
        const tasksList = element.nextElementSibling;
        tasksList.style.display = tasksList.style.display === "none" ? "block" : "none";
    }        
</script>
<script>
    document.getElementById('submit').addEventListener('click', function() {
      const projectId = document.getElementById('torso').dataset.projectId;
      console.log(projectId);
      const name = document.getElementById('name');
      const nameContent = name.value;
      const description = document.getElementById('description');
      const descriptionContent = description.value;
      const budget = document.getElementById('budget');
      const budgetContent = budget.value;
    //  'manager', 'name', 'type', 'duration', 'description', 'budget', 'deadline', 'project_picture', 'state'
      const type = "General";
      const duration = "Not Specified";
      const defaultImage = "project_pictures/Project-Management-Fundamentals.jpg";
      const state = "PENDING";

      const url = `/accounts/post_project_edition/${projectId}/`;

      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for security
        },
        body: new URLSearchParams({
          'name': nameContent,
          'type': type,
          'duration': duration,
          'description': descriptionContent,
          'budget': budgetContent,
          'project_picture': defaultImage,
          'state': state
        })
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          alert(data.message);
          // Optionally, refresh comments here or append the new comment to the list
        } else {
          alert(data.message);
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
  </script>
</html>
