{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/passwordRecoveryConfirmation.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/Logo.png' %}">
    <title>Sing Up</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img class="logo-pic" src="{% static 'img/Logo.svg' %}" class="logo" alt="">
            <div class="lineNav"></div>
            <div class="navText">
                <span>Online</span>
                <span>Marketplace</span>
            </div>
        </div>
        <a>Home</a>
        <div></div>
    </nav>
    <div class="content">
        <img class="checkImg" src="{% static 'images/Vector (1).png' %}" alt="success">
        <span class="text-one">Password recovery request sent!</span>
        <span class="text-two">Check your email.</span>
        <a href="{% url 'login' %}"><button class="buttonBack">Back to Log In</button></a>
    </div>
    
</body>
</html>