{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signUp1Company.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{% static 'images/Logo.png' %}" alt="Logo"/>
            <div class="lineNav"></div>
            <div class="navText">
                <span>Online</span>
                <span>Marketplace</span>
            </div>
        </div>
        <a href="{%url 'home'%}">Home</a>
    </nav>

    <div class="content">
        <h1 class="title">Join our Community</h1>
        <span>Signing up as <a class="freelancer" href="{% url 'registerf1'%}">Freelancer</a></span>
        <a class="googleButton">
            <img src="{% static 'images/google.png' %}" alt="Google Login"> Sign in with Google
        </a>
        <span>Or</span>
        <form method = "POST">
            {% csrf_token %}
            <div class="inputContainer">
                <span>Id or NIT</span>
                <input type="text" class="inputText" name="username" id="username" required>
            </div>
            <div class="inputContainer">
                <span>Name</span>
                <input type="text" class="inputText" name="name" id="name" required>
            </div>
            <div class="inputContainerNumber">
                <span>Legal Agent</span>
                <input type="number" class="numberPhone" name="legal_agent" id="legal_agent" required>
            </div>
            <div class="inputContainer">
                <span>Password</span>
                <input type="password" class="inputText" name="password" id="password" required>
            </div>
            <button class="buttonSubmit" type="submit">Sign Up</button>
        </form>
    </div>
</body>
{% if username_exists %}
    <script>
        alert('El nombre de usuario ya está en uso. Por favor, escoge otro.');
        window.location.href = window.location.href;  // Redirige a la misma página
    </script>
{% endif %}
</html>
