/* Freelancer Profile */
html {
    scroll-behavior: smooth;
}

.freelancerprofile {
    background-color:#ffffff;
    height:2273px;
    width: 1440px; 
    padding:0px;
    position:absolute;
}

.heading {
    background-color:#F2F2F2;
    height:752px;
    width: 1440px; 
    position:relative;
}

.hometext
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
line-height:auto;
border-style:hidden;
outline:none;
top:32px;
left:690px;
position:absolute;
width:60px;
height:30px;
}

.chat_icon{
top:35px;
left:1268px;
position:absolute;
width:35px;
height: 35px;
cursor: pointer;
}

.notification_icon{
    top:35px;
    left:1315px;
    position:absolute;
    width:35px;
    height: 35px;
    cursor: pointer;
}

.logo{
    top:7px;
    left:40px;
    position:absolute;
    width:80px;
    height: 80px;
}

.logoseparator
{
    top:45px;
    left:95px;
    width: 60px;
    transform:rotate(-90deg);
    border:1px solid #01000c;
    position:absolute;
}

.onlinemarketplace2
{
color:#01000c;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
line-height:auto;
border-style:hidden;
outline:none;
top:20px;
left:150px;
position:absolute;
width:100px;
height: 66px;
cursor: pointer;
}

#profiletitle
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
line-height:auto;
border-style:hidden;
outline:none;
top:194px;
left:163px;
position:absolute;
width:203px;
height:96px;
}

.l2 {
position: absolute;
top:307px;
left: 120px;
width:1200px;
transform:rotate(0deg);
border:1px solid #000000;
}

#name_profile{
    width: 328px;
    left: 439px;
    top: 360px;
    height: 72px;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
}

#profession {
    width: 283px;
    left: 439px;
    top: 432px;
    height: 31px;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.profile_picture {
    top:360px;
    left:146px;
    position:absolute;
    width:250px;
    height: 250px;
}

.profile_picture2 {
    top:25px;
    left:1365px;
    position:absolute;
    width:50px;
    height: 50px;
}

#description {
    width: 826px;
    left: 439px;
    top: 485px;
    height: 186px;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.git2 {
    position: absolute;
    left: 438px;
    top: 639px; 
    height: 32px; 
    width: 32px;
    cursor: pointer;
}

.lin2 {
    position: absolute;
    left: 481px;
    top: 639px; 
    height: 32px; 
    width: 32px;
    cursor: pointer;
}

.ig2 {
    position: absolute;
    left: 524px;
    top: 639px; 
    height: 32px; 
    width: 32px;
    cursor: pointer;
}

.gmail2 {
    position: absolute;
    left: 567px;
    top: 639px; 
    height: 32px; 
    width: 32px;
    cursor: pointer;
}

.star {
    position: absolute;
    left: 233px;
    top: 630px; 
    height: 30px; 
    width: 30px;
    cursor: pointer;
}

#calification {
    position: absolute;
    left: 270px;
    top: 636px; 
    height: 46px; 
    width: 23px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size:35;
}

.aboutback {
    background-color:#c2ff0a;
    height:346px;
    width: 1440px; 
    padding:0px;
    top: 752px;
    position:relative;
}

.abouttitle {
    width: 203px;
    left: 627px;
    top: 420px;
    height: 60px;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
}

.habilities-container{
    height:265px;
    width: 407px; 
    top: 250px;
    left: 700px;
    position:relative;
}

.hability-container{
    color: red;
    height:30px;
    width: 172px; 
    top: 215px;
    position:relative;
}

.hability{
    width: 184px;
    left: 0px;
    top: 4px;
    height: 21px;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.footer {
    background-color: #BCBCBC;
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 1440px; 
    height: 135px;
}


.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    margin-top: 40px;
}

.footer-nav2 {
    margin-top: 20px;
}

.footer-nav a {
    color: #01000C;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
}

.footer-nav2 a {
    color: #F2F2F2;
    margin: 0 15px;
    text-decoration: none;
    font-size: 15px;
}

.footer-nav2 a:hover {
    text-decoration: underline;
}

.footer-nav a:hover {
    text-decoration: underline; 
}

.encora {
    position: absolute;
    left: 37px;
    top: 10px; 
    height: 111px; 
    width: 113px;
}

.gmail {
    position: absolute;
    left: 1252px;
    top: 78px; 
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.lin {
    position: absolute;
    left: 1280px;
    top: 78px; 
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.ig {
    position: absolute;
    left: 1308px;
    top: 78px; 
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.fb {
    position: absolute;
    left: 1336px;
    top: 78px; 
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.footertext {
text-align:center;
vertical-align:text-top;
font-size:12px;
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
line-height:auto;
border-style:hidden;
outline:none;
top:105px;
left:1205px;
position:absolute;
width:200px;
height:18px;
}