/* Client main */

html {
    scroll-behavior: smooth;
}

/* Heading section */

.heading {
    background-color:#F2F2F2;
    height:102px;
    width: 1440px; 
    position:relative;
}

.hometext
{
    color:#000000;
    text-align:left;
    vertical-align:text-top;
    font-size:24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height:auto;
    border-style:hidden;
    outline:none;
    top:32px;
    left:690px;
    position:absolute;
    width:60px;
    height:30px;
}

.chat_icon{
    top:35px;
    left:1268px;
    position:absolute;
    width:35px;
    height: 35px;
    cursor: pointer;
}

.notification_icon{
    top:35px;
    left:1315px;
    position:absolute;
    width:35px;
    height: 35px;
    cursor: pointer;
}

.logo{
    top:7px;
    left:40px;
    position:absolute;
    width:80px;
    height: 80px;
}

.logoseparator
{
    top:45px;
    left:95px;
    width: 60px;
    transform:rotate(-90deg);
    border:1px solid #01000c;
    position:absolute;
}

.onlinemarketplace2
{
    color:#01000c;
    text-align:left;
    vertical-align:text-top;
    font-size:18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height:auto;
    border-style:hidden;
    outline:none;
    top:20px;
    left:150px;
    position:absolute;
    width:100px;
    height: 66px;
    cursor: pointer;
}

.profile_picture2 {
    top:25px;
    left:1365px;
    position:absolute;
    width:50px;
    height: 50px;
    border-radius: 50%; 
    object-fit: cover;
}

.mainback {
    background-color:#F2F2F2;
    height:1468px;
    width: 1440px; 
    position:relative;
}

.welcome
{
    color:#000000;
    text-align:left;
    vertical-align:text-top;
    font-size:54px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height:auto;
    border-style:hidden;
    outline:none;
    top:81px;
    left:165px;
    position:absolute;
    width:280px;
    height:81px;
}

.name_profile
{
    color:#000000;
    text-align:left;
    vertical-align:text-top;
    font-size:24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height:auto;
    border-style:hidden;
    outline:none;
    top:168px;
    left:172px;
    position:absolute;
    width:209px;
    height:36px;
}

.myprojects{
    color: black;
    width: 250px;
    left: 165px;
    top: 276px;
    height: 60px;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px; 
}

.add{
    color: black;
    width: 29px;
    left: 1182px;
    top: 295px;
    height: 21px;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px; 
}

.nav-button {
    position: absolute; 
    right: 175px;
    top: 305px; 
    transform: translateY(-50%);
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.nav-button:hover {
    background-color: #0056b3; 
}

.projects-wrapper {
    background-color:#F2F2F2;
    position: absolute; 
    width: 1206px;
    top: 386px;
    left: 117px;
    height: 1000px;
    overflow-y: auto;
}

.project-container {
    width: 1189px;
    height: 300px;
    border-radius: 10px; 
    
    margin-bottom: 50px;
}

.project-name{
    position: relative;
    left: 63px;
    top: 28px;
    height: 45px;
    width: 281px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.project-description{
    position: relative;
    left: 63px;
    top: 40px;
    height: 91px;
    width: 300px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.project-state{
    position: relative;
    left: 63px;
    top: 60px;
    height: 24px;
    width: 300px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.project_picture{
    position:absolute;
    left: 414px;
    height:300px;
    width:775px;
}

.open {
    top: 80px;
    width: 300px;
    height: 40px;
    position: relative;
    left: 63px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16;
}

.joinbutton:hover {
    background-color: #0056b3; 
}

.project-container:nth-child(4n+1) {
    background-color: #CAD0FF; 
}

.project-container:nth-child(4n+2) {
    background-color: #FFA4A4; 
}

.project-container:nth-child(4n+3) {
    background-color: #D2FFB6; 
}

.project-container:nth-child(4n+4) {
    background-color: #CC94F7; 
}

.footer {
    background-color: #F2F2F2;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    position: relative;
    bottom: 0;
    left: 0px;
    width: 1440px; 
    height: 135px;
}


.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    margin-top: 57px;
}

.footer-nav2 {
    margin-top: 20px;
}

.footer-nav a {
    color: #01000C;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
}

.footer-nav a:hover {
    text-decoration: underline; 
}

.encora2 {
    position: absolute;
    left: 37px;
    top: 10px; 
    height: 111px; 
    width: 113px;
}

.gmail3 {
    position: absolute;
    left: 1252px;
    top: 78px; 
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.lin3 {
    position: absolute;
    left: 1280px;
    top: 78px; 
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.ig3 {
    position: absolute;
    left: 1308px;
    top: 78px; 
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.fb3 {
    position: absolute;
    left: 1336px;
    top: 78px; 
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.footertext {
    text-align:center;
    vertical-align:text-top;
    font-size:12px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height:auto;
    border-style:hidden;
    outline:none;
    top:105px;
    left:1205px;
    position:absolute;
    width:200px;
    height:18px;
}