
/* NO RESPONSIVE */

html {
    scroll-behavior: smooth;
}

.firstsection
{
background-color:#f2f2f2;
height:910px;
width: 1440px; 
padding:0px;
position:relative;
}

.joinbutton {
background-color: #ffffff;
height: 40px;
width: 119px;
padding:0px;
border-style:hidden;
outline:none;
border-radius: 10px;
position: absolute;
top: 60px;
left: 1235px;
cursor: pointer;
}

.rectangle2853
{
background-color:#0040ff;
height:40px;
width:119px;
border-radius:10px;
top: 6.5934%; 
left: 85.83%;
}

.savechanges
{
color:#ffffff;
text-align:center;
font-size:16px;
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
left:9px;
top:10.26px;
width:101px;
height:22;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.searchbar
{
background-color:#ffffff;
height:45px;
width:400px;
padding:0px;
border-style:hidden;
outline:none;
top:618px;
left:510px;
position:absolute;
border-radius:20px;
}

.rectangle20
{
background-color:#ffffff;
height:45px;
width:400px;
border:2px solid #01000c;
border-radius:20px;
}

.frame
{
height:24px;
width:24px;
padding:0px;
left:363px;
top:11px;
position:absolute;
cursor: pointer;
}

.search2
{
color:#01000c;
text-align:left;
vertical-align:text-top;
border: none;
font-size:14px;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
left:16px;
top:14px;
width:335px;
height:18px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.onlinemarketplaceforfreelancers
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
line-height:auto;
border-style:hidden;
outline:none;
top:565px;
left:521px;
position:absolute;
width:397px;
height:29px;
}

.freelancers {
    color: blue; 
}

.developyourproject
{
color:#01000c;
text-align:center;
vertical-align:text-top;
font-size:96px;
font-family: 'Poppins', sans-serif;
font-weight: 700;
line-height:100px;
border-style:hidden;
outline:none;
top:353px;
left:355px;
position:absolute;
width:729px;
}

.login
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family: 'Poppins', sans-serif;
font-weight: 400; 
line-height:auto;
border-style:hidden;
outline:none;
top:66px;
left:1139px;
position:absolute;
width:60px;
cursor: pointer;
}

.logo
{
height:156px;
width:156px;
left:27px;
top:22px;
position:absolute;
}

.logoseparator
{
width:92px;
transform:rotate(-90deg);
border:1px solid #01000c;
top:100px;
left:140px;
position:absolute;
}

.onlinemarketplace2
{
color:#01000c;
text-align:left;
vertical-align:text-top;
font-size:30px;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
line-height:auto;
border-style:hidden;
outline:none;
top:54px;
left:212px;
position:absolute;
width:191px;
cursor: pointer;
}

/* freelancer section */

.freelancersection
{
height:951px;
width:1440px;
padding:0px;
top:0px;
position:relative;
}

.backgroundfreelancer
{
height:951px;
width:1440px;
}

.forfreelancers
{
color:#f2f2f2;
text-align:left;
vertical-align:text-top;
font-size:54px;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
line-height:auto;
border-style:hidden;
outline:none;
top:90px;
left:111px;
position:absolute;
width:460px;
}

.freelancerdescription
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
line-height:auto;
border-style:hidden;
outline:none;
top:178px;
left:111px;
position:absolute;
width:516px;
height:56px;
}

.joinfreelancerbutton
{
background-color: transparent;
border: 1px solid #bcbcbc;
height:54px;
width:192px;
padding:0px;
outline:none;
top:255px;
left:111px;
border-radius:10px;
position:absolute;
cursor: pointer;
}

.joinfreelancerbuttonrec
{
height:54px;
width:190px;
border-radius:10px;
border:1px #bcbcbc;
}

.joinfreelancerbuttontext
{
color:#f2f2f2;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
left:14px;
top:14.85px;
width:164px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.b2 {
    position: absolute;
    left: 0;
    width: 1440px;
    height: 71px;
    bottom: 0;
}



/* company section */

.companysection
{
height:950px;
width:1440px;
padding:0px;
top:0px;
position:relative;
}

.pexels-cottonbro-40692911
{
height:950px;
width:1440;
}

.forcompanies
{
color:#f2f2f2;
text-align:left;
vertical-align:text-top;
font-size:54px;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
line-height:auto;
border-style:hidden;
outline:none;
top:49px;
left:106px;
position:absolute;
width:460px;
height:80px;
}

.developyourprojectswithourcommunitytoachieveyourgoals
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
line-height:auto;
border-style:hidden;
outline:none;
top:129px;
left:106px;
position:absolute;
width:594px;
height:27px;
}

.emptybutton
{
background-color: transparent;
border: 1px solid #bcbcbc;
height:54px;
width:192px;
padding:0px;
border-style:hidden;
outline:none;
top:216px;
left:106px;
position:absolute;
cursor: pointer;
}

.rectangle2854
{
height:54px;
width:192px;
border-radius:10px;
border:1px solid #bcbcbc;
}

.uploadnewpicture
{
color:#f2f2f2;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
left:17px;
top:16.85px;
width:160px;
height:21px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

/* last section */

.lastsection
{
color:#01000c;
height:866px;
width:1456px;
padding:0px;
top:0px;
position:relative;
}

.container1 {
    position: relative;
    top: 214px;
    left: 174px;
    width: 291px;
    height: 467px; 
    overflow: hidden; 
}

.eoc1 {
    position:absolute;
    height:467px;
    width:291px;
}

.overlay1 {
    position: absolute; /* Se posiciona sobre la imagen */
    width: 291px;
    height: 113px;
    bottom: 0;
    background: linear-gradient(to top, rgba(115, 115, 115, 1), rgba(218, 218, 218, 0)); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

.text1 {
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px; 
    bottom: 0;
    left: 172px;
    width:291px;
}

.container2 {
    position: absolute;
    top: 214px;
    left: 576px;
    width: 291px;
    height: 467px; 
    overflow: hidden; 
}

.eoc2 {
    position:absolute;
    height:467px;
    width:291px;
}

.overlay2 {
    position: absolute;
    width: 291px;
    height: 113px;
    bottom: 0;
    background: linear-gradient(to top, rgba(115, 115, 115, 1), rgba(218, 218, 218, 0)); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

.text2 {
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px; 
    bottom: 0;
    left: 172px;
    width:291px;
}

.container3 {
    position: absolute;
    top: 214px;
    left: 975px;
    width: 291px;
    height: 467px; 
    overflow: hidden; 
}

.eoc3 {
    position:absolute;
    height:467px;
    width:291px;
}

.overlay3 {
    position: absolute;
    width: 291px;
    height: 113px;
    bottom: 0;
    background: linear-gradient(to top, rgba(115, 115, 115, 1), rgba(218, 218, 218, 0)); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

.text3 {
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px; 
    bottom: 0;
    left: 172px;
    width:291px;
}

.eoctitle
{
text-align:center;
vertical-align:text-top;
font-size:48px;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
line-height:auto;
border-style:hidden;
outline:none;
top:79px;
left:361px;
position:absolute;
width:729px;
height:80px;
}

.footer {
    background-color: #BCBCBC;
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 1440px; 
    height: 135px;
}


.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    margin-top: 40px;
}

.footer-nav2 {
    margin-top: 20px;
}

.footer-nav a {
    color: #01000C;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
}

.footer-nav2 a {
    color: #F2F2F2;
    margin: 0 15px;
    text-decoration: none;
    font-size: 15px;
}

.footer-nav2 a:hover {
    text-decoration: underline;
}

.footer-nav a:hover {
    text-decoration: underline; 
}

.encora {
    position: absolute;
    left: 37px;
    top: 10px; 
    height: 111px; 
    width: 113px;
}

.gmail {
    position: absolute;
    left: 1252px;
    top: 78px; 
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.lin {
    position: absolute;
    left: 1280px;
    top: 78px; 
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.ig {
    position: absolute;
    left: 1308px;
    top: 78px; 
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.fb {
    position: absolute;
    left: 1336px;
    top: 78px; 
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.footertext {
text-align:center;
vertical-align:text-top;
font-size:12px;
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
line-height:auto;
border-style:hidden;
outline:none;
top:105px;
left:1205px;
position:absolute;
width:200px;
height:18px;
}