{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile - Account</title>
    <link rel="icon" type="image/png" href="{% static 'img/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/edit_account4.css' %}">
    <link rel="stylesheet" href="{% static 'css/info-modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/heading.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>

    {% include 'perfil/sections/info-modal.html' %}

    <div class="editsection">

        {% include 'perfil/sections/heading.html' %}

        <div class="ptext ep">
            Edit profile
        </div>     

        <a href="#myaccount" class="ptext my-account">My account</a>
        <a href="{% url 'editProfileClient' p.id %}" class="ptext profile">Profile</a>
        <a href="{% url 'editProjectsClient' p.id %}" class="ptext portfolio">Projects</a>
        <a href="{% url 'deleteDisableClient' p.id %}" class="ptext delete-account">Delete account</a>
        <a href="{% url 'home' %}" class="ptext logout">Log out</a>     

        <div class="fields">

            <form method="POST">

                {% csrf_token %}

                <div class="ptext myaccount">
                    My Account
                </div>
    
                <div class="ptext basic-info">
                    Basic Information
                </div>
                
                <div class="input-container name">
                    <div class="ptext name">Company name</div>
                    <textarea name="name" class="input-box name">{{ p.name }}</textarea>
                </div>

                <div class="input-container username">
                    <div class="ptext name">Username</div>
                    <textarea name="username" class="input-box name">{{ p.username }}</textarea>
                </div>

                <div class="input-container email">
                    <div class="ptext name">Email</div>
                    <textarea name="email" class="input-box name">{{ p.email }}</textarea>
                </div>

                <div class="input-container phone">
                    <div class="ptext name">Phone</div>
                    <textarea name="phone" class="input-box name">{{ p.phone }}</textarea>
                </div>

                <button type="submit" id= "save-changes" class='med-btn save'>Save Changes</button>

            </form>

            <button type="button" id= "change-password" class="med-btn pass" onclick="changePassword()">Change Password</button>

        </div>
        
    </div>

    {% include 'perfil/sections/footer.html' %}

    {% include 'perfil/sections/change_password_modal.html' %}

    <script>

        var modal = document.getElementById("passwordModal");

        function changePassword(){
            modal.style.display = "block";
            const span = document.getElementsByClassName("close")[0];

            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        function savePassword() {
            modal.style.display = "none";
        }

    </script>

</body>