{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'ep2.css' %}">
</head>
<body>
    <div id="editsection" class="editsection">

        <div class="rectangle"></div>

        <img id="profile_picture" class="profile_picture" src="{{ p.profile_picture.url }}" alt="Profile Picture"/>
        <img id="logo" class="logo" src="{% static 'logo.png' %}"/>
        <div id="logoseparator" class="logoseparator"></div>
    
        <div id="onlinemarketplace2" class="onlinemarketplace2">
            Online Marketplace
        </div>

        <img id="profile_picture2" class="profile_picture2" src="{{ p.profile_picture.url }}" alt="Profile Picture"/>

        <div id="ruta" class="ruta">
            <div class="name_profile">
                {{ p.name }}<span class="/">/</span>
                <span class="edit-profile">General</span>
            </div>
        </div>        

        <div id="setupyour" class="setupyour">
            Set up your Online Marketplace
        </div>


        <div class="options">
            <a href="#general">General</a>
            <a href="{% url 'editar_perfil' p.id %}">Edit profile</a>
            <a href="{% url 'editar_perfil_password' p.id %}">Password</a>
            <a href="{% url 'editar_perfil_sessions' p.id %}">Sessions</a>
            <a href="#dataexport">Data export</a>
            <a href="#deteleaccount">Delete account</a>
        </div>

        <div class="fields">

            <div class="username">
                username
            </div>

            <div id="field1" class="field1">
                <textarea name="name" placeholder="Write your name">{{ p.name }}</textarea><br>
            </div>
        
            <div class="email">
                Email
            </div>

            <div id="field2" class="field2">
                <textarea name="email" placeholder="Write your email">{{ p.email }}</textarea><br>
            </div>
        
            <button type="submit" id="publishbutton" class="savebutton">
                <div id="save" class="save">Save changes</div>
            </button>
        </div>
        

        <footer class="footer">
        
            <div class="footer-content">
                <img id="encora2" class="encora2" src="{% static 'encora.png' %}" />
                <img id="fb3" class="fb3" src="{% static 'fb2.png' %}"/>
                <img id="ig3" class="ig3" src="{% static 'ig2.png' %}" />
                <img id="lin3" class="lin3" src="{% static 'lin2.png' %}" />
                <img id="gmail3" class="gmail3" src="{% static 'gmail2.png' %}" />
                <nav class="footer-nav">
                    <a href="#features">Features</a>
                    <a href="#about">About</a>
                    <a href="#support">Support</a>
                    <a href="#resources">Resources</a>
                    <a href="#places">Places</a>
                    <a href="#jobs">Jobs</a>
                </nav>
                <div id='footertext' class='footertext'> 
                    © 2024 Online Marketplace
                </div>
            </div>
    
        </footer>
    </div>
</body>