{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'mainFreelancer.css' %}">
</head>
<body>

    
    <div id="heading" class="heading">

        <div id="rectangleheading" class="rectangleheading"></div>
        <div id="hometext" class="hometext">Home</div>
        <img id="chat_icon" class="chat_icon" src="{% static 'Chat_Icon.png' %}"/>
        <img id="notification_icon" class="notification_icon" src="{% static 'Notification_Icon.png' %}"/>
        <a href="{% url 'perfilFreelancer' profile.id %}">
            <img id="profile_picture2" class="profile_picture2" src="{{ profile.profile_picture.url }}" alt="Profile Picture"/>
        </a>
        <img id="logo" class="logo" src="{% static 'logo.png' %}"/>
        <div id="logoseparator" class="logoseparator"></div>
    
        <div id="onlinemarketplace2" class="onlinemarketplace2">
            Online Marketplace
        </div>
    </div>

    <div class="filter-container">
        <div class="filter-header" onclick="toggleFilters()">
            <img src="{% static 'lines.png' %}" alt="Lines">
            <span class="filter-text">Filter</span>
            <img class="arrow" src="{% static 'arrow.png' %}" alt="arrow">
        </div>
        <div class="filter-options">
            <label>Category</label>
            <select name="category" id="category">
                <option value="">Select Category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% empty %}
                    <option>No categories available</option>
                {% endfor %}
            </select>
    
            <label>Company</label>
            <select name="company" id="company">
                <option value="">Select Company</option>
                {% for company in companies %}
                    <option value="{{ company.id }}">{{ company.name }}</option>
                {% empty %}
                    <option>No companies available</option>
                {% endfor %}
            </select>
    
            <label>Budget</label>
            <input type="text" placeholder="Enter Budget">
        </div>
    </div>    

    <div class="welcome">Discover</div>
    <div class="your">
        Your <span class="proyect">Project</span>
    </div>

    <div class="search-container">
        <input type="text" placeholder="Search">
        <img src="{% static 'search.png' %}" alt="Search Icon">
    </div>

    <nav class="cat-nav">
        <a href="#branding">Branding</a>
        <a href="#illustration">Illustration</a>
        <a href="#Web_design">Web Design</a>
        <a href="#print">Print</a>
        <a href="#video_editing">Video Editing</a>
        <a href="#image_editing">Image Editing</a>
    </nav>
       
    <div class="publicacions-container"></div>
        {% for publication in publications %}
            <div class="publicacion-container">
                <div class="card">
                    <img class="project_picture" src="{{ publication.project.project_picture.url }}" alt="Project Picture"/>
                    <img class="publication_profile_picture" src="{{ publication.project.profile.profile_picture.url }}" alt="Profile Picture"/>
                    <div class="publication_profile_name">{{ publication.project.profile.name }}</div>
                    <img class="star" src="{% static 'Star.png' %}" />
                    <div class="publication_rate">{{ publication.rate }}</div>
                    <div class="comments_amount">{{ publication.comments.count }}</div>
                </div>
                <div class="project-name">{{ publication.project.name }}</div>
                <div class="project-description">{{ publication.project.description }}</div>
                <div class="project-budget">{{ publication.project.budget }}</div>
                <div class="categories-container">
                {% for category in publication.project.projectcategories.all %}
                    <div class="hability-container">
                        <div class="hability">{{ category.name }}</div>
                    </div>
                {% empty %}
                    <p>No categories for this project registered yet.</p>
                {% endfor %}
        </div>
            </div>
        {% empty %}
            <p>There are no publications registered yet.</p>
        {% endfor %}
    </div>

    <footer class="footer">
    
        <div class="footer-content">
            <img id="encora2" class="encora2" src="{% static 'encora.png' %}" />
            <img id="fb3" class="fb3" src="{% static 'fb2.png' %}"/>
            <img id="ig3" class="ig3" src="{% static 'ig2.png' %}" />
            <img id="lin3" class="lin3" src="{% static 'lin2.png' %}" />
            <img id="gmail3" class="gmail3" src="{% static 'gmail2.png' %}" />
            <nav class="footer-nav">
                <a href="#features">Features</a>
                <a href="#about">About</a>
                <a href="#support">Support</a>
                <a href="#resources">Resources</a>
                <a href="#places">Places</a>
                <a href="#jobs">Jobs</a>
            </nav>
            <div id='footertext' class='footertext'> 
                © 2024 Online Marketplace
            </div>
        </div>

    </footer>

    <script>
        function toggleFilters() {
          const filterContainer = document.querySelector('.filter-container');
          filterContainer.classList.toggle('expanded');
        }
    </script>
</body>