{% load static %}
<!DOCTYPE html>

<html>

  <head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'test2.css' %}">

  </head>

  <body class="flex-column">

    <section class="untitled-page2 loginSection">
      <div class="contentBox">
        <div class="flexColumn">
          <div class="flexRow">
            <img class="contentImage" src="{% static 'Logo.png' %}" alt="alt text" />
            <div class="flexRowTop">
              <div class="flexColumnLeft">
                <p class="englishText">English</p>
                <div class="contentBoxRight"><p class="spanishText">Spanish</p></div>
              </div>
              <img class="secondaryImage" src="{% static 'arrow.png' %}" alt="alt text" />
            </div>
          </div>
          <div class="flexColumnRight">
            <div class="flexColumnTop">
              <h1 class="heroTitle">Log In</h1>
              <div class="flexRowMiddle">
                <p class="accountPromptText">Don’t have an account yet?</p>
                <p class="signupPromptText">Sign up</p>
              </div>
            </div>
            <div class="flexColumnBottom">
              <div class="flexColumnUsername">
                <p class="usernameEmailText">Username or Email</p>
                <div class="inputFieldUsernameEmail"><p class="inputPlaceholder">Enter Text</p></div>
              </div>
              <div class="flexColumnPassword">
                <p class="passwordText">Password</p>
                <div class="inputFieldPassword">
                  <p class="passwordRequirementsText">15+ characters, 1 uppercase, 1 number, 1 special character.</p>
                  <img class="passwordImage" src="{% static 'arrow.png' %}" alt="alt text" />
                </div>
              </div>
              <div class="flexColumnButton">
                <button class="loginButton">
                  <!-- TODO --> 
                  Log In
                </button>
                <div class="flexRowBottom">
                  <p class="forgotPasswordPromptText">Forgot password?</p>
                  <p class="recoverPasswordPromptText">Recover it</p>
                </div>
              </div>
            </div>
            <hr class="dividerLine" size="1" />
            <div class="buttonGroup">
              <img class="googleSignInImage" src="{% static 'Star.png' %}" alt="alt text" />
              <button class="googleSignInButton">
                <!-- TODO --> 
                Sign In with Google
              </button>
            </div>
          </div>
        </div>
      </div>
      <img class="decorativeImage" src="{% static 'company_home_section.png' %}" alt="alt text" />
    </section>


  </body>

</html>
