* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(242, 242, 242, 1);
}

.logo-pic{
    width: 100px;
    height: 100px;
}

nav {
    margin: 0 10px 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
}

.lineNav {
    margin-right: 20px;
    height: 70px;
    width: 1px;
    background-color: rgba(1, 0, 12, 1);
}

.navText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
}

nav a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
}

.content {
    background-color: rgba(255, 255, 255, 1);
    max-width: 509px;
    min-height: 400px;
    max-height: 400px;
    width: 100%;
    margin: 15px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 50px; /* Padding ajustado */
    border-radius: 15px;
    border: 1px solid silver;
}

.content h1 {
    margin-bottom: 10px; /* Espaciado entre el título y el texto */
}

.content span {
    margin-bottom: 10px; /* Espaciado entre los spans */
}

form {
    display: flex;
    flex-direction: column; /* Alinear los elementos del formulario en columna */
    width: 100%; /* Ancho completo */
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px; /* Espaciado inferior */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 10px; /* Esquinas redondeadas */
}

button {
    padding: 10px;
    width: 126px;
    background-color: black; /* Color del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambiar cursor al pasar */
    transition: all 0.3s;
}

button:hover {
    background-color: #1b1b1b; /* Color al pasar el cursor */
}

.title{
    margin: 30px;
}

.text-one{
    margin-bottom: 10px;
}

.text-two{
    margin-top: 50px;
}
