* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(242, 242, 242, 1);
}

.logo-pic{
    width: 100px;
    height: 100px;
}

nav {
    margin: 0 10px 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
}

.lineNav {
    margin-right: 20px;
    height: 70px;
    width: 1px;
    background-color: rgba(1, 0, 12, 1);
}

.navText {
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

nav a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    text-align: center;
}

.content {
    background-color: white;
    max-width: 509px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.title {
    font-weight: 500;
    font-size: 36px;
    margin: 35px 0;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.freelancer {
    color: rgba(0, 64, 255, 1);
    cursor: pointer;
}

.googleButton {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid silver;
    border-radius: 10px;
    margin: 30px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.googleButton:hover {
    background-color: #d8d8d8;
}

.inputText, .buttonSubmit {
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid silver;
    margin-top: 10px;
}

.inputContainer {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.inputContainerNumber {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}

.buttonSubmit {
    margin-top: 20px;
    background-color: rgba(0, 64, 255, 1);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.google-icon{
    width: 24px;
    height: 24px;
    padding-right: 5px;
}

input{
    text-indent: 10px;
}

.buttonSubmit:hover {
    background-color: rgb(0, 38, 151);
}

/* Media Queries */
@media (max-width: 600px) {
    .title {
        font-size: 28px;
    }

    .inputContainer span {
        font-size: 14px;
    }
}
