* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(242, 242, 242, 1);
}

.logo-pic{
    width: 100px;
    height: 100px;
}

nav {
    margin: 0 10px 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
}

.lineNav {
    margin-right: 20px;
    height: 70px;
    width: 1px;
    background-color: rgba(1, 0, 12, 1);
}

.navText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
}

nav a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
}

.content {
    width: 400px; 
    height: auto; 
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.titleSpan {
    font-size: 30px;
    font-weight: 500;
}

.text-2{
    color: rgba(0, 64, 255, 1);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%; 
    align-items: left; 
}

.inputContainer span{
    font-size: 15px;
    margin-bottom: 5px;

}

input{
    text-indent: 5px;
}

.inputContainer select,
.inputContainer input {
    width: 200px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    
}


a {
    margin-bottom: 20px;
}

button {
    width: 60%;
    height: 40px;
    border: none;
    background-color: rgba(0, 64, 255, 1);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}


