:root {
    --loblolly-50: rgba(246, 248, 249, 1);
    --loblolly-100: rgba(235, 240, 243, 1);
    --loblolly-200: rgba(211, 223, 228, 1);
    --loblolly-300: rgba(185, 205, 213, 1);
    --loblolly-400: rgba(127, 164, 177, 1);
    --loblolly-500: rgba(95, 136, 152, 1);
    --loblolly-600: rgba(75, 111, 126, 1);
    --loblolly-700: rgba(61, 90, 103, 1);
    --loblolly-800: rgba(54, 76, 86, 1);
    --loblolly-900: rgba(48, 65, 74, 1);
    --loblolly-950: rgba(32, 43, 49, 1);
    --h1-font-family: "Poppins", Helvetica;
    --h1-font-weight: 600;
    --h1-font-size: 54px;
    --h1-letter-spacing: 0px;
    --h1-line-height: normal;
    --h1-font-style: normal;
    --h2-font-family: "Poppins", Helvetica;
    --h2-font-weight: 500;
    --h2-font-size: 48px;
    --h2-letter-spacing: 0px;
    --h2-line-height: normal;
    --h2-font-style: normal;
    --h3-font-family: "Poppins", Helvetica;
    --h3-font-weight: 500;
    --h3-font-size: 40px;
    --h3-letter-spacing: 0px;
    --h3-line-height: normal;
    --h3-font-style: normal;
    --h4-font-family: "Poppins", Helvetica;
    --h4-font-weight: 500;
    --h4-font-size: 36px;
    --h4-letter-spacing: 0px;
    --h4-line-height: normal;
    --h4-font-style: normal;
    --h5-font-family: "Poppins", Helvetica;
    --h5-font-weight: 500;
    --h5-font-size: 30px;
    --h5-letter-spacing: 0px;
    --h5-line-height: normal;
    --h5-font-style: normal;
    --h6-font-family: "Poppins", Helvetica;
    --h6-font-weight: 500;
    --h6-font-size: 24px;
    --h6-letter-spacing: 0px;
    --h6-line-height: normal;
    --h6-font-style: normal;
    --large-font-family: "Poppins", Helvetica;
    --large-font-weight: 400;
    --large-font-size: 20px;
    --large-letter-spacing: 0px;
    --large-line-height: normal;
    --large-font-style: normal;
    --medium-font-family: "Poppins", Helvetica;
    --medium-font-weight: 400;
    --medium-font-size: 18px;
    --medium-letter-spacing: 0px;
    --medium-line-height: normal;
    --medium-font-style: normal;
    --normal-font-family: "Poppins", Helvetica;
    --normal-font-weight: 400;
    --normal-font-size: 16px;
    --normal-letter-spacing: 0px;
    --normal-line-height: normal;
    --normal-font-style: normal;
    --small-font-family: "Poppins", Helvetica;
    --small-font-weight: 400;
    --small-font-size: 14px;
    --small-letter-spacing: 0px;
    --small-line-height: normal;
    --small-font-style: normal;
    --extra-small-font-family: "Poppins", Helvetica;
    --extra-small-font-weight: 400;
    --extra-small-font-size: 12px;
    --extra-small-letter-spacing: 0px;
    --extra-small-line-height: normal;
    --extra-small-font-style: normal;
    --small-bold-font-family: "Poppins", Helvetica;
    --small-bold-font-weight: 600;
    --small-bold-font-size: 14px;
    --small-bold-letter-spacing: 0px;
    --small-bold-line-height: normal;
    --small-bold-font-style: normal;
    --estra-small-medium-font-family: "Poppins", Helvetica;
    --estra-small-medium-font-weight: 500;
    --estra-small-medium-font-size: 12px;
    --estra-small-medium-letter-spacing: 0px;
    --estra-small-medium-line-height: normal;
    --estra-small-medium-font-style: normal;
    --normal-semi-bold-font-family: "Poppins", Helvetica;
    --normal-semi-bold-font-weight: 600;
    --normal-semi-bold-font-size: 16px;
    --normal-semi-bold-letter-spacing: 0px;
    --normal-semi-bold-line-height: normal;
    --normal-semi-bold-font-style: normal;
    --normal-regular-font-family: "Inter", Helvetica;
    --normal-regular-font-weight: 500;
    --normal-regular-font-size: 16px;
    --normal-regular-letter-spacing: 0px;
    --normal-regular-line-height: normal;
    --normal-regular-font-style: normal;
    --h5-semi-bold-font-family: "Poppins", Helvetica;
    --h5-semi-bold-font-weight: 600;
    --h5-semi-bold-font-size: 30px;
    --h5-semi-bold-letter-spacing: 0px;
    --h5-semi-bold-line-height: normal;
    --h5-semi-bold-font-style: normal;
    --extra-extra-small-font-family: "Poppins", Helvetica;
    --extra-extra-small-font-weight: 400;
    --extra-extra-small-font-size: 10px;
    --extra-extra-small-letter-spacing: 0px;
    --extra-extra-small-line-height: normal;
    --extra-extra-small-font-style: normal;
    --large-medium-font-family: "Poppins", Helvetica;
    --large-medium-font-weight: 500;
    --large-medium-font-size: 20px;
    --large-medium-letter-spacing: 0px;
    --large-medium-line-height: normal;
    --large-medium-font-style: normal;
    --h3-semi-bold-font-family: "Poppins", Helvetica;
    --h3-semi-bold-font-weight: 600;
    --h3-semi-bold-font-size: 40px;
    --h3-semi-bold-letter-spacing: 0px;
    --h3-semi-bold-line-height: normal;
    --h3-semi-bold-font-style: normal;
    --large-semi-bold-font-family: "Poppins", Helvetica;
    --large-semi-bold-font-weight: 600;
    --large-semi-bold-font-size: 20px;
    --large-semi-bold-letter-spacing: 0px;
    --large-semi-bold-line-height: normal;
    --large-semi-bold-font-style: normal;
    --variable-collection-rich-black: rgba(1, 0, 12, 1);
    --variable-collection-silver: rgba(188, 188, 188, 1);
    --variable-collection-white-smoke: rgba(242, 242, 242, 1);
    --variable-collection-palatinate-blue: rgba(0, 64, 255, 1);
    --variable-collection-red: rgba(218, 95, 95, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-light-blue: rgba(153, 172, 226, 1);
  }
  