{% load static %}
<div id="passwordModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id='change-password-title' class='ptext change-password-title'>Change Password</div>
        <form method="POST">

            {% csrf_token %}
    
            <div class="input-container2 current-pass">
                <div class="ptext pass">Current Password</div>
                <input name="current-password" id="currentpassword" class="input-box e" type="password" placeholder="Enter your current password" />
                <img class="eye-icon" src="{% static 'img/eye_icon.svg' %}" alt="Show Password" 
                        onmousedown="showPassword('currentpassword')" 
                        onmouseup="hidePassword('currentpassword')" 
                        onmouseleave="hidePassword('currentpassword')" />
            </div>
            
            <div class="input-container2 new-pass">
                <div class="ptext pass">Enter New Password</div>
                <input name="new-password" id="newpassword" class="input-box e" type="password" placeholder="Enter your new password"></textarea>
                <img class="eye-icon" src="{% static 'img/eye_icon.svg' %}" alt="Show Password" 
                        onmousedown="showPassword('newpassword')" 
                        onmouseup="hidePassword('newpassword')" 
                        onmouseleave="hidePassword('newpassword')" />
            </div>  

            <div class="input-container2 confirm-pass">
                <div class="ptext pass">Confirm New Password</div>
                <input name="confirm-password" id="confirmnewpassword" class="input-box e" type="password" placeholder="Confirm your new password"></textarea>
                <img class="eye-icon" src="{% static 'img/eye_icon.svg' %}" alt="Show Password" 
                        onmousedown="showPassword('confirmnewpassword')" 
                        onmouseup="hidePassword('confirmnewpassword')" 
                        onmouseleave="hidePassword('confirmnewpassword')" />
            </div>

            <button type="submit" id= "change-password" class='med-btn change-pass' onclick="savePassword()">Change</button>

        </form>
       
    </div>
</div>

<script>
    function showPassword(id) {
        const passwordField = document.getElementById(id);
        passwordField.setAttribute('type', 'text');
    }

    function hidePassword(id) {
        const passwordField = document.getElementById(id);
        passwordField.setAttribute('type', 'password');
    }
</script>