{% load static %}
<div id="passwordModal" class="modal">
    <div class="modal-content">
        <div class="up-modal-content">
            <div class='change-password-title'>Change Password</div>
            <span class="close">&times;</span>
        </div>
        
        <form method="POST">

            {% csrf_token %}
    
            <div class="input-container2">
                <div class="ptext pass">Current Password</div>
                <input name="current-password" id="currentpassword" class="input-box e" type="password" placeholder="Enter your current password" />
            </div>
            
            <div class="input-container2">
                <div class="ptext pass">Enter New Password</div>
                <input name="new-password" id="newpassword" class="input-box" type="password" placeholder="Enter your new password"></textarea>
            </div>  

            <div class="input-container2">
                <div class="ptext pass">Confirm New Password</div>
                <input name="confirm-password" id="confirmnewpassword" class="input-box" type="password" placeholder="Confirm your new password"></textarea>
                
            </div>

            <button type="submit" id= "change-password" class='med-btn change-pass' onclick="savePassword()">Change</button>

        </form>
       
    </div>
</div>