{% load static %}
<footer class="footer">
    <div class="footer-left">
        <img class="footer-logo" src="{% static 'img/Encora1.svg' %}" />
    </div>
    <nav class="footer-nav">
        <a href="#features">Features</a>
        <a href="#about">About</a>
        <a href="#support">Support</a>
        <a href="#resources">Resources</a>
        <a href="#places">Places</a>
        <a href="#jobs">Jobs</a>
    </nav>
    <div class="footer-right">
        <div class="media">
            <a>
                <img class="social-icon gmail" src="{% static 'img/gmail.png' %}" />
            </a>
            <a href="https://www.facebook.com/encorainc" target="_blank">
                <img class="social-icon fb" src="{% static 'img/fb.png' %}"/>
            </a>
            <a href="https://www.instagram.com/encorainc/" target="_blank">
                <img class="social-icon ig" src="{% static 'img/ig.png' %}" />
            </a>
            <a href="https://www.linkedin.com/company/encorainc/" target="_blank">
                <img class="social-icon lin" src="{% static 'img/lin.png' %}" />
            </a>
        </div>
        <div class='footertext'> 
            © 2024 Online Marketplace
        </div>
    </div>
</footer>