.commentssection {
    margin-top: -20px;
    background-color: #F2F2F2;
    height:430px;
    width:1440px;
    position:relative;
}

.ptext.commentstitle{
    width: 232px;
    left: 144px;
    top: 81px;
    height: 32px;
    font-weight: 500;
    font-size: 36px; 
}

.comments {
    background-color: #f4f5f8;
    overflow-x: hidden; 
    position: relative;
    left: 0px;
    top:160px;
    width: 1178px; 
    height: 188px;
    max-height: 209px;
    overflow-y: auto; 
    margin: 20px auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.comment {
    position: relative;
    display: flex; 
    margin-bottom: 15px; 
    padding: 10px;
    border: 1px solid #e0e0e0; 
    border-radius: 5px; 
    background-color: #fff; 
    text-align: justify; 
    width: 100%;
    height: auto;
    flex-direction: column;
}

.profilecommenting {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 15px; 
}

.ptext.username {
    font-size: 16px;
    left: 70px;
    font-weight: bold; 
    margin-bottom: 5px; 
}


.ptext.date {
    left: 70px;
    top: 40px;
    font-size: 12px;
    color: #888; 
    margin-bottom: 5px; 
    font-weight: 400;
}

.ptext.comment-text{
    margin-top: 6px;
    position: relative;
    height: auto;
    overflow-wrap: break-word;
    font-size: 16px;
    width: 95%;
    left:2%;
    height: auto;
}

.btn{
    border: none;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px;
}


.btn.reply{
    margin-top: 5px;
    left: 90%;
    width: 80px;
    height: 18px;
    background-color: #BCBCBC;
    color: #01000C; 
}

.button-container {
    position: relative;
    margin-top: 8px;
    left: 82%;
    display: flex;
    gap: 10px; 
    margin-top: 8px; 
    height: 18px;
}

.btn.save-edit{
    position: relative;
    margin-top: 8px;
    width: 80px;
    height: 18px;
    left: 91%;
    background-color:  #BCBCBC;
    color: #01000C;
    padding: 0; 
}

.btn.send-reply{
    width: 80px;
    height: 18px;
    background-color: #BCBCBC;
    color: #01000C; 
}

.btn.cancel{
    width: 80px;
    height: 18px;
    background-color: #BCBCBC;
    color: #01000C; 
}

.replies{
    margin-top: 10px;
    position: relative;
    width: 90%;
    left: 5%;
    height: auto;
}

.reply{
    display: flex; 
    margin-bottom: 15px; 
    padding: 10px;
    border: 1px solid #e0e0e0; 
    border-radius: 5px; 
    background-color: #fff; 
    text-align: justify; 
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.btn.edit{
    position: absolute;
    margin-top: 5px;
    left: 93%;
    width: 24px;
    height: 24px;
    background-color: white;
    color: white; 
}

.delete-form {
    position: absolute;
    display: inline-flex;        
    justify-content: center;     
    align-items: center;                           
    width: auto;                
    height: auto; 
    margin-top: 5px;
    left: 96%;              
}

.btn.delete{
    width: 24px;
    height: 24px;
    color: #030303;
    font-size: 24px;
    background-color: white;
}

.edit-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.edit-textarea {
    position: relative;
    left: 1%;
    width: 97%;
    margin-top: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    resize: none;
    text-align: left;
    padding-left: 8px;
}

.reply-input {
    background-color: rgb(255, 255, 255);
    position: relative;
    display: block;
    width: 92%;
    left: 5%; 
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
    height: auto;
    overflow: hidden; 
    font-family: "Poppins", sans-serif;
}