/* delete/disable freelancer account */

html {
    scroll-behavior: smooth;
}

.editsection{
    background-color: #F2F2F2;
    width: 1440px;
    height: 950px;
    position: relative;
}

.ptext{
    position: absolute;
}

.ptext.ep {
    color:#7D7D7D;
    font-size:14px;
    font-weight: 700; /* Bold */
    top:181px;
    left:114px;
    width:100px;
    height:21px; 
}

.ptext.my-account {
    color:#000000;
    font-size:16px;
    font-weight: 400;  /* Regular */
    top:215px;
    left:114px;
    width:100px;
    height:24px;
    text-decoration: none; 
}

.ptext.profile {
    color:#000000;
    font-size:16px;
    font-weight: 400;  /* Regular */
    top:254px;
    left:114px;
    width:53px;
    height:24px;
    text-decoration: none; 
}

.ptext.portfolio {
    color:#000000;
    font-size:16px;
    font-weight: 400; /* Regular */
    top:293px;
    left:114px;
    width:94px;
    height:24px;
    text-decoration: none; 
}

.ptext.logout {
    color:#000000;
    font-size:16px;
    font-weight: 400; 
    top:371px;
    left:114px;
    width:94px;
    height:24px;
    text-decoration: none; 
}

.ptext.delete-account {
    color:#DA5F5F;
    font-size:16px;
    font-weight: 700; /* Bold */
    top:332px;
    left:114px;
    width:130px;
    height:24px;
    text-decoration: none; 
}

.body {
    left:300px;
    width: 1087px;
    height: 824px;
    position: relative;
}

.ptext.delete-title{
    top: 68px;
    left: 145px;
    width: 200px;
    height: 36px;
    color:#000000;
    font-size:24px;
    font-weight: 500;
}

.ptext.danger-zone{
    top: 138px;
    left: 200px;
    width: 114px;
    height: 13px;
    color:#000000;
    font-size:18px;
    font-weight: 400;
}

.med-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    position: absolute;
    height: 40px;
}

.med-btn.delete{
    border: none;
    width: 128px;
    color: #ffffff;
    left: 200px;
    top: 179px;
    background-color: #DA5F5F;
}

.med-btn.disable{
    width: 128px;
    border: 1px solid #BCBCBC;
    color: #01000C;
    left: 355px;
    top: 179px;
    background-color: #F2F2F2;
}

.modal {
    justify-content: center;
    align-items: center; 
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    width: 329px;
    height: 179px;
    top: 28%;
    left: 36%;
    background-color: #F2F2F2;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 329px; 
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.ptext.are-you-sure{
    left: 100px;
    top: 45px;
    width: 164px;
    height: 36px;
    color:#000000;
    font-size:24px;
    font-weight: 500;
    position: absolute;
}

.close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin-right: 5px; 
    margin-top: 0px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.med-btn.delete-disable{
    border:none;
    width: 119px;
    color: #ffffff;
    left: 44px;
    top: 128px;
    background-color: #DA5F5F;
}

.med-btn.cancel{
    width: 128px;
    border: 1px solid #BCBCBC;
    color: #01000C;
    left: 195px;
    top: 128px;
    background-color: #F2F2F2;
}