/* Freelancer Profile */
html {
    scroll-behavior: smooth;
}

.upper-section {
    background-color:#F2F2F2;
    height:752px;
    width: 1440px; 
    position:relative;
    border-bottom-left-radius: 50px; 
    border-bottom-right-radius: 50px;
}

.ptext{
    font-family: "Poppins", sans-serif;
    position: absolute;
}

.ptext.hometext{
    color:#000000;
    font-size:24px;
    font-weight: 600;
    line-height:auto;
    top:32px;
    left:690px;
    width:60px;
    height:30px;
}

.icon{
    top:35px;
    position:absolute;
    width:35px;
    height: 35px;
    cursor: pointer;
}

.icon.chat_icon{
    left:1268px;
}

.icon.notification_icon{
    left:1315px;
}

.logo{
    top:7px;
    left:40px;
    position:absolute;
    width:80px;
    height: 80px;
}

.logoseparator{
    top:45px;
    left:95px;
    width: 60px;
    transform:rotate(-90deg);
    border:1px solid #01000c;
    position:absolute;
}

.ptext.onlinemarketplace{
    color:#01000c;
    font-size:18px;
    font-weight: 500;
    top:20px;
    left:150px;
    width:100px;
    height: 66px;
    cursor: pointer;
}

.profile_picture_heading {
    top:25px;
    left:1365px;
    position:absolute;
    width:50px;
    height: 50px;
    border-radius: 50%; 
    object-fit: cover;
}

.ptext.profiletitle{
    color:#000000;
    font-size:64px;
    font-weight: 600;
    top:194px;
    left:163px;
}

.editprofilebutton {
    width: 70px;
    height: 18px;
    position: absolute;
    left: 1212px;
    top: 224px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid #BCBCBC;
    color: #01000C; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none; 
}

.editprofilebutton:hover {
    background-color: #6ce81444;
}

.line-separator {
    position: absolute;
    top:307px;
    left: 120px;
    width:1200px;
    transform:rotate(0deg);
    border:1px solid #000000;
}

.ptext.name-profile{
    left: 439px;
    top: 360px;
    position: absolute;
    font-weight: 500;
    font-size: 48px;
}

.ptext.profession {
    left: 439px;
    top: 432px;
    height: 31px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.profile_picture {
    top:360px;
    left:146px;
    position:absolute;
    width:250px;
    height: 250px;
    border-radius: 50%; 
    object-fit: cover; 
}

.ptext.description {
    width: 826px;
    left: 439px;
    top: 485px;
    height: 186px;
    font-weight: 400;
    font-size: 16px;
}

.ptext.email {
    left: 439px;
    top: 600px;
    font-weight: 400;
    font-size: 16px;
    color: #007BFF;
}

.social-networks {
    width: 300px;
    height: 32px;
    position: relative;
    left: 438px;
    top: 639px; 
    display: flex;
    gap: 10px; 
}

.social-icon-1 {
    position: relative;
    width: 32px;
    height: 32px; 
    cursor: pointer; 
    transition: transform 0.2s; 
}

.social-icon-1:hover {
    transform: scale(1.1); 
}

.ptext.calification {
    left: 270px;
    top: 636px; 
    font-weight: 600;
    font-size:35;
}

.star {
    position: absolute;
    left: 233px;
    top: 630px; 
    height: 30px; 
    width: 30px;
    cursor: pointer;
}

.aboutsection {
    height:436px;
    width:1440px;
    position:relative;
}

.ptext.about-title{
    width: 203px;
    left: 619px;
    top: 40px;
    height: 60px;
    font-weight: 500;
    font-size: 40px; 
}


.experience {
    position: relative;
    left: 118px;
    top: 140px;
    width: 265px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f2f2f2;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.experience-header {
    background-color: #f6c6c6;
    color: black;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px 10px 0 0; 
    margin-bottom: 15px;
}

.experience-body {
    color: #333;
}

.jobs-done {
    font-size: 20px;
    margin-bottom: 10px;
}

.percentage {
    color: #007bff;
    font-weight: bold;
}

.price {
    font-size: 20px;
    margin-bottom: 10px;
}

.join-date {
    font-size: 20px;
}

.habilities-container {
    position: absolute;
    left: 522px;
    top: 120px;
    width: 391px;
    max-height: 250px;
    overflow-y: auto;
}

.hability-container {
    text-align: center;
    margin-bottom: 10px;
}

.hability {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block; 
    color: #333;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 90%; 
    white-space: nowrap; 
}

.hability-container:nth-child(6n+1) .hability {
    background-color: #f6c6c6;
}

.hability-container:nth-child(6n+2) .hability {
    background-color: #7ddac1; 
}

.hability-container:nth-child(6n+3) .hability {
    background-color: #f6e6e6; /* Rosa Claro */
}

.hability-container:nth-child(6n+4) .hability {
    background-color: #3c3838; /* Negro */
    color: white;
}

.hability-container:nth-child(6n+5) .hability {
    background-color: #c87cff; /* Morado */
    color: white;
}

.hability-container:nth-child(6n+6) .hability {
    background-color: #dbe4c2; /* Verde Claro */
}

.certificates-container {
    position: absolute;
    left: 1030px;
    top: 135px;
    width: 335px; 
    max-height: 180px; 
    overflow-y: auto; 
    padding: 10px; 
    margin: 0 auto;
}

.certificate-container {
    height: 76px; 
    position: relative;
    margin-bottom: 10px;
}

.ptext.name-certificate {
    font-size: 14px; 
    font-weight: 400;
    margin-bottom: 5px;
}

.rectangle20 {
    top: 25px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #BCBCBC; 
    width: 260px;
    height: 50px;
    position: relative; 
    align-items: center;
    display: flex;
}

.card {
    position: absolute;
    top: 25%;
    margin-left: 16px; 
    width: 24px;
    height: 24px;
}

.ptext.type-certificate {
    font-weight: 500;
    font-size: 12px;
    color: #0040FF;
    margin-left: 50px;
}

.view {
    height: 24px;
    width: 24px; 
    cursor: pointer; 
    position: absolute;
    left: 280px;
    top: 35px;
}

.rectangle20 a {
    text-decoration: none; 
}


.projectssection {
    background-color: #F2F2F2;
    height:429px;
    width:1440px;
    position:relative;
}


.ptext.projects-title{
    width: 161px;
    left: 639px;
    top: 50px;
    height: 60px;
    font-weight: 500;
    font-size: 40px; 
}

.projects-wrapper {
    position: relative;
    width: 1339px;
    top: 143px;
    left: 49px;
    height: 209px;
}

.projects-container {
    top: 10px;
    width: 1083px;
    height: 191px;
    margin: 0 auto;
    position: relative;
    display: flex;
    overflow: hidden; 
}

.ptext.project-name{
    left: 30px;
    top: 10px;
    height: 36px;
    width: 270px;
    font-weight: 500;
    font-size: 26px;
}

.ptext.info-project{
    left: 30px;
    font-weight: 400;
    font-size: 16px;
}

.ptext.info-project.a{
    top: 60px;
}

.ptext.info-project.b{
    top: 100px;
}

.ptext.info-project.c{
    top: 140px;
}

.nav-button {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1; 
}

.nav-button:hover {
    background-color: #0056b3; 
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px; 
}

.project-container {
    position: relative;
    width: 300px;
    border-radius: 10px;
    padding: 10px; 
    margin-right: 61px; 
    min-width: 150px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; 
}

.project-container:nth-child(4n+1) {
    background-color: #CAD0FF; /* Color 1: gris claro */
}

.project-container:nth-child(4n+2) {
    background-color: #FFA4A4; /* Color 2: azul claro */
}

.project-container:nth-child(4n+3) {
    background-color: #D2FFB6; /* Color 3: naranja claro */
}

.project-container:nth-child(4n+4) {
    background-color: #CC94F7; /* Color 4: verde claro */
}

.separator-3 {
    position: absolute;
    top:420px;
    left: 120px;
    width:1200px;
    transform:rotate(0deg);
    border:1px solid #000000;
}

.commentssection {
    margin-top: -20px;
    background-color: #F2F2F2;
    height:430px;
    width:1440px;
    position:relative;
}

.ptext.commentstitle{
    width: 232px;
    left: 144px;
    top: 81px;
    height: 32px;
    font-weight: 500;
    font-size: 36px; 
}

.comments {
    background-color: #f4f5f8;
    overflow-x: hidden; 
    position: relative;
    left: 0px;
    top:160px;
    width: 1178px; 
    height: 188px;
    max-height: 209px;
    overflow-y: auto; 
    margin: 20px auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.comment {
    position: relative;
    display: flex; 
    margin-bottom: 15px; 
    padding: 10px;
    border: 1px solid #e0e0e0; 
    border-radius: 5px; 
    background-color: #fff; 
    text-align: justify; 
    width: 100%;
    height: auto;
    flex-direction: column;
}

.profilecommenting {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 15px; 
}

.ptext.username {
    font-size: 16px;
    left: 70px;
    font-weight: bold; 
    margin-bottom: 5px; 
}


.ptext.date {
    left: 70px;
    top: 40px;
    font-size: 12px;
    color: #888; 
    margin-bottom: 5px; 
    font-weight: 400;
}

.ptext.comment-text{
    margin-top: 6px;
    position: relative;
    height: auto;
    overflow-wrap: break-word;
    font-size: 16px;
    width: 95%;
    left:2%;
    height: auto;
}

.btn{
    border: none;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px;
}


.btn.reply{
    margin-top: 5px;
    left: 90%;
    width: 80px;
    height: 18px;
    background-color: #BCBCBC;
    color: #01000C; 
}

.button-container {
    position: relative;
    margin-top: 8px;
    left: 82%;
    display: flex;
    gap: 10px; 
    margin-top: 8px; 
    height: 18px;
}

.btn.save-edit{
    position: relative;
    margin-top: 8px;
    width: 80px;
    height: 18px;
    left: 91%;
    background-color:  #BCBCBC;
    color: #01000C;
    padding: 0; 
}

.btn.send-reply{
    width: 80px;
    height: 18px;
    background-color: #BCBCBC;
    color: #01000C; 
}

.btn.cancel{
    width: 80px;
    height: 18px;
    background-color: #BCBCBC;
    color: #01000C; 
}

.replies{
    margin-top: 10px;
    position: relative;
    width: 90%;
    left: 5%;
    height: auto;
}

.reply{
    display: flex; 
    margin-bottom: 15px; 
    padding: 10px;
    border: 1px solid #e0e0e0; 
    border-radius: 5px; 
    background-color: #fff; 
    text-align: justify; 
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.btn.edit{
    position: absolute;
    margin-top: 5px;
    left: 93%;
    width: 24px;
    height: 24px;
    background-color: white;
    color: white; 
}

.btn.delete{
    position: absolute;
    margin-top: 5px;
    left: 96%;
    width: 24px;
    height: 24px;
    color: #000000;
    font-size: 24px;
    background-color: white;
}

.edit-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.edit-textarea {
    position: relative;
    left: 1%;
    width: 97%;
    margin-top: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    resize: none;
    text-align: left;
    padding-left: 8px;
}

.reply-input {
    background-color: rgb(255, 255, 255);
    position: relative;
    display: block;
    width: 92%;
    left: 5%; 
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
    height: auto;
    overflow: hidden; 
    font-family: "Poppins", sans-serif;
}

.footer {
    position: relative;
    background-color: #F2F2F2;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 1440px; 
    height: 135px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    margin-top: 57px;
}

.footer-nav a {
    color: #01000C;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
}

.footer-nav a:hover {
    text-decoration: underline; 
}

.encora {
    position: absolute;
    left: 37px;
    top: 10px; 
    height: 111px; 
    width: 113px;
}

.social-icon{
    position: absolute;
    top: 78px;
    height: 24px; 
    width: 24px;
    cursor: pointer;
}

.social-icon.gmail {
    left: 1252px;
}

.social-icon.lin {
    left: 1280px;
}

.social-icon.ig{
    left: 1308px;
}

.social-icon.fb {
    left: 1336px;
}

.footertext {
    text-align:center;
    font-size:12px;
    font-weight: 400;
    top:105px;
    left:1205px;
    position:absolute;
    width:200px;
    height:18px;
}