html {
    scroll-behavior: smooth;
}

.back{
    width: 1440px;
    background-color: #F2F2F2;
    height: auto;    
}

/* Heading section */

.heading {
    background-color:#F2F2F2;
    height:102px;
    width: 1440px; 
    position:relative;
}

.ptext{
    font-family: "Poppins", sans-serif;
    position: absolute;
}

.ptext.login{
    color:#000000;
    font-size:20px;
    font-weight: 400;
    top:34px;
    left:1189px;
}

.logo{
    top:7px;
    left:40px;
    position:absolute;
    width:80px;
    height: 80px;
}

.logoseparator{
    top:45px;
    left:95px;
    width: 60px;
    transform:rotate(-90deg);
    border:1px solid #01000c;
    position:absolute;
}

.ptext.onlinemarketplace{
    color:#01000c;
    font-size:18px;
    font-weight: 500;
    top:20px;
    left:150px;
    width:100px;
    height: 66px;
    cursor: pointer;
}

.btn{
    border: none;
    position: absolute;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn.join-btn{
    background-color: #0040FF;
    left: 1287px;
    top: 29px;
    color: #F2F2F2;
    font-size: 20px;
    height: 40px;
    width: 119px;
    font-weight: 400;
}

.btn.join-btn:hover{
    background-color: #0033CC;
    transform: scale(1.02); 
}

.upper-section{
    position: relative;
    height: 220px;
}

.filter-header {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color:  #ffffff;
    position: absolute;
    width: 380px;
    height: 45px;
    left: 78px;
    top: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
}

.ptext.filter-text{
    left: 54px;
}

.ptext.discover{
    left: 630px;
    top: 19px;
    width: 208px;
    height: 81px;
    color: #01000C;
    font-size: 48px;
    font-weight: 400;
}

.ptext.your{
    left: 688px;
    top: 79px;
    width: 84px;
    height: 21px;
    font-size: 14px;
    font-weight: 400;
    color: #01000C;
}

.ptext.project{
    padding-left: 5px;
    color: blue;
}

.input-container {
    top: 44px;
    left: 962px;
    width: 400px;
    height: 75px;
    position: absolute;
}

.input-box{
    vertical-align: middle;
    font-family: "Poppins", sans-serif;
    color: #838282;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    padding-left: 10px;
    border-radius: 20px;
    text-align: left;
    align-items: center;
    justify-content: center;
    resize: none; 
    line-height: 40px;
    width: 348px;
    height: 40px;
    padding-right: 40px;
}

.search{
    left: 363px;
    width: 24px;
    height: 24px;
    top: 11px;
    position: absolute;
    cursor: pointer;
}

.cat-nav{
    width: 900px;
    left: 303px;
    top: 140px;
    position: absolute;
    height: 30px;
}

.cat-nav a{
    color: #01000C;
    margin-right: 42px; 
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.publications-section {
    position: relative;
}

.publications-container{
    max-height: 415px;
    width: 1277px;
    left: 78px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex; 
    flex-wrap: wrap;
    gap: 48px;
    row-gap: 35px; 
}

.publication-container{
    width: 393px;
    height: 400px;
    position: relative;
    cursor: pointer;
}

.card{
    width: 393px;
    height: 297px;
    background-color: #E0E0E0;
    border-radius: 10px;
    position: relative;
}

.project-picture-container {
    position: relative; 
}

.project-picture{
    left: 0px;
    position: relative;
    width: 393px;
    height: 241px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fav{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    left: 340px;
    top: 20px;
}

.project-data-1{
    position: relative;
}

.publication-profile-picture{
    top: 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 13px;
}

.ptext.publication-profile-name{
    top: 14px;
    left: 64px;
    width: 200px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.star{
    width: 24px;
    height: 24px;
    left: 285px;
    top: 12px;
    position: absolute;
}

.ptext.publication-rate{
    font-size: 14px;
    left: 310px;
    top: 14px;
} 

.ptext.comments-amount{
    font-size: 12px;
    left: 340px;
    top: 15px;
}

.project-data-2{
  position: relative; 
}

.ptext.project-name{
    top: 3px;
    height: 21px;
    font-weight: 600;
    font-size: 14px;
}

.ptext.project-description{
    top: 24px;
    height: 23px;
    width: 393px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 12px;
}

.ptext.project-budget{
    font-size: 12px;
    font-weight: 600;
    top: 44px;
}

.categories-container{
    left: 5px;
    top: 70px;
    width: 383px;
    height: 37px;
    position: relative;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.category-container{
    text-align: center;
}

.category{
    margin-right: 10px;
    padding: 1px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    max-width: 90%;
    white-space: nowrap; 
    align-items: center; 
    justify-content: space-between; 
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    color: #333;
    font-size: 12px;
}

.category-container:nth-child(6n+1) .category {
    background-color: #f6c6c6;
}

.category-container:nth-child(6n+2) .category {
    background-color: #7ddac1; 
}

.category-container:nth-child(6n+3) .category {
    background-color: #f6e6e6;
}

.category-container:nth-child(6n+4) .category {
    background-color: #3c3838; 
    color: white;
}

.category-container:nth-child(6n+5) .category{
    background-color: #c87cff;
    color: white;
}

.buttons-container {
    display: flex;               
    justify-content: center;      
    align-items: center;           
    margin: 60px auto;            
    gap: 15px;         
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 395px;
    height: 313px;
    background-color: #F2F2F2;
    border: 1px solid #888; 
    border-radius: 10px;
    position: relative;
    top: auto;
    left: auto;
}

.ptext.modal-title{
    left: 95px;
    top: 40px;
    height: 30px;
    color:#000000;
    font-size:20px;
    font-weight: 400;
    text-align:left;
}

.ptext.community{
    color:#0040FF;
    margin-left: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin-right: 20px; 
    margin-top: 10px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn{
    border: none;
    position: absolute;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn.sign-up{
    background-color: #0040FF;
    left: 40px;
    top: 85px;
    color: #F2F2F2;
    font-size: 14px;
    height: 40px;
    width: 315px;
}

.separator-con{
    left: 40px;
    top: 140px;
    position: relative;
}

.separator{
    position: absolute;
    width:140.5px;
    transform:rotate(0deg);
    border:1px solid #000000;
}

.separator.b{
    left: 174.5px;
}

.ptext.or{
    left: 150.5px;
    font-size: 12px;
    font-weight: 400;
    color: #01000C;
}

.btn.login{
    background-color: #BCBCBC;
    left: 40px;
    top: 173px;
    color: #01000C;
    font-size: 14px;
    height: 40px;
    width: 315px;
}

.google-container{
    position: relative;
    top: 228px;
    left: 40px;
}

.btn.sign-google{
    background-color: #FFFFFF;
    color: #01000C;
    font-size: 14px;
    height: 40px;
    width: 315px;
    border: 1px solid #BCBCBC;
    border-radius: 20px;
    font-weight: 400;
}

.google-icon{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 15px;
    top: 8px;
    z-index: 1;
}