.profile {
    background-color:#F2F2F2;
    height:636px;
    width: 1440px; 
    position:relative;
    border-bottom-left-radius: 50px; 
    border-bottom-right-radius: 50px;
}

.ptext.profiletitle{
    color:#000000;
    font-size:64px;
    font-weight: 600;
    top:92px;
    left:163px;
}

.editprofilebutton {
    width: 70px;
    height: 18px;
    position: absolute;
    left: 1212px;
    top: 150px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid #BCBCBC;
    color: #01000C; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none; 
}

.editprofilebutton:hover {
    background-color:#F2F2F2;
}

.line-separator {
    position: absolute;
    top:211px;
    left: 121px;
    width:1200px;
    transform:rotate(0deg);
    border:1px solid #000000;
}

.ptext.name-profile{
    left: 439px;
    top: 258px;
    position: absolute;
    font-weight: 500;
    font-size: 48px;
}

.ptext.type {
    left: 440px;
    top: 328px;
    height: 31px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.profile_picture {
    top:258px;
    left:146px;
    position:absolute;
    width:250px;
    height: 250px;
    border-radius: 50%; 
    object-fit: cover; 
}

.ptext.description {
    width: 826px;
    left: 439px;
    top: 383px;
    height: 186px;
    font-weight: 400;
    font-size: 16px;
}

.ptext.email {
    left: 439px;
    top: 500px;
    font-weight: 400;
    font-size: 16px;
    color: #007BFF;
}

.social-networks {
    width: 300px;
    height: 32px;
    position: relative;
    left: 438px;
    top: 537px; 
    display: flex;
    gap: 10px; 
}

.social-icon-1 {
    position: relative;
    width: 32px;
    height: 32px; 
    cursor: pointer; 
    transition: transform 0.2s; 
}

.social-icon-1:hover {
    transform: scale(1.1); 
}

.star {
    position: absolute;
    left: 233px;
    top: 528px; 
    height: 30px; 
    width: 30px;
    cursor: pointer;
}

.ptext.calification {
    left: 270px;
    top: 531px; 
    font-weight: 600;
    font-size:35;
}

.rate-btn {
    position: absolute;
    top: 560px;
    width: 70px;
    height: 20px;
    left: 231px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #007BFF;
    color: white; 
    border: none;
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.rate-btn:hover {
    background-color: #0056b3;
}